.cards {
  padding: 2rem;
  background: white;
}

h1 {
  text-align: center;
  background-color: inherit;
}

.cards__container {
  position: relative;
  grid-auto-columns: auto;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width:auto;
  margin:  auto;
  display: flexbox;
  /* grid-template-columns: auto auto auto auto; */
  background-color:transparent;
  padding-top: 1rem; 
  
}

.cards__wrapper {
  position: relative;
  margin: 50px 10px 45px;
  background-color:transparent;
 
}

.cards__items {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background-color:transparent;
  position: relative;
  padding-top: 2rem;
 
}



.cards__item {
  display:inline-block;
  margin: 0 1rem;
  border-radius: 10px;
  min-width:auto;
  border-radius: 15px;
  
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: auto;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  
}

.cards__item__pic-wrap {
  position: relative;
  padding-top: 100%;
  padding-bottom: 100%;
  padding-left: 2rem;
  overflow: hidden;
  background: none ;
  width: 20rem;
  


}

.cards__item__pic-wrap h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 21px;
  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

}

.card_item_description {
  text-align:justify;
  vertical-align: top;
  font-size: 10;
}

.cards__item__text {
  color: white;
  font-size: 18px;
  line-height: 24px;
}




.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}



.cards__item__pic-wrap::after {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  /* box-sizing: border-box;  */
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  
}

.cards__item__img:hover  {
  transform: scale(1.1);
  opacity: 0;
  
}

.cards__item__info {
  padding: 20px 30px 30px;
}


@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
