.info-container {
  background: url('/images/logo.jpg') center center/cover no-repeat;
    height: 70vw;
    width: 100%;
    display:grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }



.info-box {
  display: absolute;
  background-color: transparent;
  left: 5px;
  padding-bottom: 10%;
  
  

    
}




.info-box h1{
  background-color: transparent;
  height: 30vm;
  font-size:x-large;
  top: 2rem;
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px;
  


  
}

.info-box p {
  border: 1px solid white;
  padding: 5px;
}

.info-event {
  font-size: 100%;
  fill-opacity: inherit;
  background-color: inherit ;

}



